body {
    background-color: black;
}
h1 {
    text-align: center;
    color: blue;
    font-family: verdana;
    font-size: 600%;
}
h2 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
h3 {
    text-align: center;
    color: blue;
    font-family: impact;
    font-size: 150%;
}
a {
    display: block;
    text-align: center;
    color: powderblue;
    font-family: courier;
    font-size: 160%;
}
a:link {
    color: powderblue;
}
a:hover {
    color: hotpink;
}
p {
    color: blue;
    font-family: impact;
}
