/* BASELINE */

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  border: 0;
  font: 100%/150% "Open Sans", sans-serif;
  color: #2f2f2f;
  -webkit-overflow-scrolling: touch;
}

article, section, nav, main {
  display: block;
}

h1 {
  margin: 0;
  font-size: 125%;
  line-height: 100%;
}

h2 {
  margin: 0;
  font-size: 100%;
  line-height: 100%;
}

a {
  color: #555;
  transition: 0.25s color;
  cursor: pointer;
}

a:hover {
  color: #00b2ee;
}

p {
  font-size: 90%;
}

hr {
  border: none;
  background-color: #E7E7E7;
  height: 1px;
  margin: 1em 0;
}

/* LAYOUT */

main, header {
  width: 100%;
  height: auto;
  padding: 0 1em;
  margin: 0;
}

main {
  position: relative;
  top: 0;
}

header {
  margin-bottom: 5em;
  position: relative;
  top: 0;
}

section {
  margin: 5em auto;
}

@media all and (min-width: 600px) {
  main, header {
    padding: 0 3em;
  }
}

@media all and (min-width: 768px) {
  header {
    max-width: calc(340px + 3em);
    position: absolute;
    left: 0;
    top: 115px;
    overflow-y: auto;
    text-align: center;
  }

  main {
    width: calc(100% - 340px - 3em);
    padding-left: 0;
    position: absolute;
    right: 0;
    top: 115px;
    overflow-y: auto;
  }

  header .sidebar-container {
    margin-left: 3em;
  }

  section {
    margin: 2.25em auto 5em auto;
  }
}

@media all and (min-width: 1200px) {
  main {
    width: calc(100% - 580px - 200px);
    padding-left: 3em;
    margin-right: calc(200px - 3em);
  }
  header {
    max-width: 580px;
  }
  header .sidebar-container {
    margin-left: 200px;
  }
}

@media all and (min-width: 768px) and (min-height: 500px) {
  header {
    position: fixed;
  }
  main .top-mock {
    display: block;
  }
}

/* SIDEBAR */

.sidebar-container {
  position: relative;
  width: 270px;
  margin: 0 auto;
  text-align: center;
}

.shape-container {
  position: relative;
  height: 300px;
  margin-bottom: 1.25em;
}

.square {
  position: absolute;
  height: 228px;
  width: 228px;
  background-color: #EAF3F4;
  margin-left: -50px;
}

.circle {
  position: absolute;
  height: 270px;
  width: 270px;
  background-color: #555;
  border-radius: 50%;
  border: 10px solid white;
  margin-top: 35px;
  background-image: url('Me.jpg');
  background-position: center;
  background-size: 300px;
}

.pizza {
  position: absolute;
  top: -13px;
  left: -1px;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.pizza:hover {
  opacity: 1;
}

.job-title {
  font-weight: 400;
  margin-top: 0.75em;
  margin-bottom: 1.25em;
}

li a:hover {
  /* CSS Hack to mimic an SVG fill of #00b2ff */
  filter: invert(.5) sepia(1) saturate(10) hue-rotate(171deg);
}

/* NAVIGATION */

nav ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

nav li {
  margin: 0 1em 0 0;
  display: inline-block;
}

nav li:last-child {
  margin: 0;
}

#copied-prompt {
  margin-left: 105px;
  display: none;
}

.project-desc a:before {
  content: '';
  width: 0.75em;
  height: 2px;
  margin: 0 0.5em 1px 0;
  display: inline-block;
  vertical-align: middle;
  background: #555;
  transition: 0.25s width, background;
}

.project-desc a:hover:before {
  content: '';
  width: 1.5em;
  background: #00b2ee;
  transition: 0.25s width, background;
}

/* PROJECTS */

.top-mock {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 115px;
  width: 100%;
  background-color: white;
}

.inline-link {
  text-decoration: none;
  font-weight: 700;
}

.project-title {
  margin: 0.5em 0;
  font-size: 150%;
  font-weight: 200;
}

article {
  padding: 0 0.5em 2.25em 0;
}

.footer-rule {
  margin-top: 0;
  margin-bottom: 2.8em;
}

.footer {
  height: 50px;
  width: 100%;
}

.footer-title {
  width: 200px;
}

.footer-email {
  color: #999999;
}

@media all and (min-width: 500px) and (max-width: 768px),
  all and (min-width: 860px) and (max-width: 1200px), all and (min-width: 1300px) {
  .footer-title {
    float: left;
  }

  .footer-email {
    float: right;
    margin: 0;
  }
}
